@charset "UTF-8";
/*tipografía*/
/*background*/
/*grilla*/
/*animaciones*/
/*icons*/
#logo, .icons-header, .social-icons {
  transition: transform 0.3s;
}
#logo:hover, .icons-header:hover, .social-icons:hover {
  transform: scale(1.2);
}

/*nav, footer*/
li {
  padding: 3px;
  transition: transform 0.3s;
}
li:hover {
  transform: scale(1.2);
}

/*ambientes*/
.img-ambientes {
  transition: transform 0.3s;
}
.img-ambientes:hover {
  transform: scale(0.9);
}
.img-ambientes:hover {
  background-color: rgba(240, 240, 240, 0.5);
}

/*products*/
.top-products, .product {
  transition: transform 0.3s;
}
.top-products:hover, .product:hover {
  transform: scale(1.2);
  margin: 20px;
}
.top-products:hover, .product:hover {
  background-color: rgba(240, 240, 240, 0.5);
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
  background-color: #312e38;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  border-bottom: 1px solid white;
  border-top: 0.5px solid white;
}

#menus {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu {
  margin-left: 12px;
  margin-right: 12px;
  font-family: "Cormorant Garamond", serif;
  font-size: 24px;
  text-decoration: none;
  color: white;
}

#button-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.search-input {
  margin-left: 4px;
  margin-right: 4px;
  width: 70%;
  padding: 5px;
  font-size: 16px;
  font-family: "Lora", serif;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.search-input:focus {
  border-color: #007BFF;
}

.icons-header {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.image-container {
  position: relative;
  display: block;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel-item {
  flex-shrink: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 100px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: carousel 9s linear infinite;
}

.carousel-item:nth-child(1) {
  animation-delay: 0s;
}

.carousel-item:nth-child(2) {
  animation-delay: 3s;
}

.carousel-item:nth-child(3) {
  animation-delay: 6s;
}

@keyframes carousel {
  0%, 33.33% {
    opacity: 1;
  }
  35%, 100% {
    opacity: 0;
  }
}
h2 {
  text-align: center;
  font-size: 22px;
  font-family: "Cormorant Garamond", serif;
  padding-bottom: 20px;
  color: white;
  background-color: #312e38;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  margin-top: 0px;
  padding-top: 18px;
  border-top: #fff solid 6px;
}

#top-selling {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 20px;
  margin: 25px 20px 20px 20px;
}

.top-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.top-products img {
  width: 250px;
  height: 250px;
  margin-top: 15px;
}

.name-top-products {
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  font-weight: 600;
}

.price-top-products {
  font-size: 20px;
  font-weight: bold;
}

.img-ambientes {
  width: 100vw;
  max-height: 100vh;
  object-fit: cover;
  padding: 20px;
}

#ambientes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selectors {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

#categorias,
#ordenar {
  display: inline-block;
  padding: 4px 20px;
  font-size: 15px;
  font-weight: 200;
  border-radius: 6px;
  cursor: pointer;
  background-color: #312e38;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  color: #fff;
}

label {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: x-large;
  padding-left: 30px;
  padding-right: 15px;
}

h1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 20px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.product img {
  width: 250px;
  height: 250px;
  margin-top: 15px;
}

.name-product {
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  font-weight: 600;
}

.price {
  font-size: 20px;
  font-weight: bold;
}

footer {
  background-color: #312e38;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 40px;
}

h3 {
  color: white;
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: white;
  font-family: "Cormorant Garamond", serif;
  padding-right: 20px;
}

.social-icons {
  width: 20px;
  height: 20px;
  margin: 3px;
}

@media only screen and (max-width: 1260px) {
  /* main-index */
  #top-selling {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  /* main-decoration-illuminacion-accesorios */
  .products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
  }
}
@media screen and (max-width: 935px) {
  /*main-index*/
  #top-selling {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  .products-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
  }
}
@media screen and (max-width: 1165px) {
  /*header*/
  .menu {
    font-size: 20px;
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .search-input {
    padding: 3px;
  }
  .carousel-item {
    font-size: 60px;
  }
}
@media screen and (max-width: 760px) {
  /* header */
  .search-input {
    padding: 2px;
  }
  .icons-header {
    width: 30px;
    height: 30px;
  }
  .carousel-item {
    font-size: 30px;
  }
  #menus {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
  }
  .menu {
    margin-left: 0px;
    margin-right: 0px;
  }
  /* main-index */
  h2 {
    font-size: 18px;
  }
  #top-selling {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .top-products img {
    width: 200px;
    height: 200px;
  }
  /* main-ambientes */
  .img-ambientes {
    padding: 10px;
  }
  /* main-decoracion-illuminacion-accesorios */
  .selectors {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .selector {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  h1 {
    display: flex;
    justify-content: center;
  }
  .products-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(, 1fr);
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .product img {
    width: 200px;
    height: 200px;
  }
  /* footer */
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h3 {
    text-align: center;
  }
  .anchors-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .anchor-footer {
    padding-right: 30px;
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/*# sourceMappingURL=styles.css.map */
