@charset "UTF-8";
/* reset */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* import */
/*tipografía*/
/*background*/
/*grilla*/
/*animaciones*/
/* icons */
#logo, .icons-header, .social-icons {
  transition: transform 0.3s;
}
#logo:hover, .icons-header:hover, .social-icons:hover {
  transform: scale(1.2);
}

/* nav,footer */
.menu, li {
  padding: 3px;
  transition: transform 0.3s;
}
.menu:hover, li:hover {
  transform: scale(1.2);
}

/* ambientes */
.img-ambientes {
  transition: transform 0.6s;
}
.img-ambientes:hover {
  transform: scale(0.9);
  margin: 3px;
  background-color: rgba(240, 240, 240, 0.5);
}

/* products */
.top-products, .product {
  transition: transform 0.6s;
}
.top-products:hover, .product:hover {
  transform: scale(1.1);
  margin: 3px;
  background-color: rgba(240, 240, 240, 0.5);
}

/* carousel text index */
.image-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  border-bottom: #fff 2px solid;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.image-container .carousel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image-container .carousel .carousel-item {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 100px;
  position: absolute;
  width: 100%;
  height: 110%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: carousel 9s linear infinite;
}
.image-container .carousel .carousel-item:nth-child(1) {
  animation-delay: 0s;
}
.image-container .carousel .carousel-item:nth-child(2) {
  animation-delay: 3s;
}
.image-container .carousel .carousel-item:nth-child(3) {
  animation-delay: 6s;
}
@keyframes carousel {
  0%, 33.33% {
    opacity: 1;
  }
  35%, 100% {
    opacity: 0;
  }
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
  background-color: #312e38;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  border-bottom: 1.5px solid white;
}
header #logo img {
  width: 110px;
}
header #menus {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header #menus .menu {
  margin-left: 15px;
  margin-right: 15px;
  font-family: "Cormorant Garamond", serif;
  font-size: 24px;
  text-decoration: none;
  color: white;
  padding-right: 0px;
}
header #button-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header #button-header .search-input {
  margin-left: 4px;
  margin-right: 4px;
  width: 70%;
  padding: 5px;
  font-size: 16px;
  font-family: "Lora", serif;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}
header #button-header .search-input:focus {
  border-color: #007BFF;
}
header #button-header .icons-header {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}
header #button-header #icon-user {
  cursor: default;
}
header #button-header #icon-cart {
  width: 33px;
  height: 33px;
}

footer {
  background-color: #312e38;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 40px;
}
footer .social-icons {
  width: 20px;
  height: 20px;
  margin: 3px;
  cursor: default;
}
footer h3 {
  color: white;
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
}
footer li {
  list-style: none;
}
footer li a {
  text-decoration: none;
  color: white;
  font-family: "Cormorant Garamond", serif;
  padding-right: 20px;
  cursor: default;
}

#section-top-selling > h2 {
  text-align: center;
  font-size: 22px;
  font-family: "Cormorant Garamond", serif;
  padding-bottom: 20px;
  color: white;
  background-color: #312e38;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  margin-top: 0px;
  padding-top: 18px;
}

#top-selling {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 20px;
  margin: 25px 20px 20px 20px;
}
#top-selling .top-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
#top-selling .top-products a {
  text-decoration: none;
  cursor: default;
}
#top-selling .top-products a img {
  width: 250px;
  height: 250px;
  margin-top: 15px;
}
#top-selling .top-products .name-top-products {
  font-family: "Cormorant Garamond", serif;
  font-size: 33px;
  font-weight: 800;
  margin-bottom: 10px;
}

#ambientes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#ambientes .img-ambientes {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  padding: 20px;
  cursor: default;
}

.selectors {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}
.selectors #categorias,
.selectors #ordenar {
  display: inline-block;
  padding: 4px 20px;
  font-size: 15px;
  font-weight: 200;
  border-radius: 6px;
  cursor: pointer;
  background-color: #312e38;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  color: #fff;
}
.selectors label {
  font-family: "Cormorant Garamond", serif;
  font-size: x-large;
  padding-left: 30px;
  padding-right: 15px;
  font-weight: bold;
}

h1 {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  padding: 20px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.products-grid .product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.products-grid .product img {
  width: 250px;
  height: 250px;
  margin-top: 15px;
}
.products-grid .product .border {
  border: #F0F0F0 solid 1px;
  border-right: 0px;
}
.products-grid .product .border-reloj {
  border: rgb(189, 182, 182) solid 1px;
  border-right: 0px;
}
.products-grid .product .name-product {
  font-family: "Cormorant Garamond", serif;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 10px;
}
.products-grid .product .price {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  margin: 0px;
}

.product-name {
  background-color: #F0F0F0;
  margin-top: 0px;
  margin-bottom: 60px;
  padding: 10px 0 15px 0;
  font-size: 32px;
}

#img-text {
  display: flex;
}
#img-text #product-img img {
  width: 50vw;
  max-width: 500px;
  height: auto;
  margin-top: 0px;
  margin-left: 60px;
  margin-right: 120px;
}
#img-text #text-product {
  margin-right: 100px;
  font-family: "Cormorant Garamond", serif;
  font-size: 22px;
}
#img-text #text-product #product-description {
  margin-top: 0px;
}
#img-text #text-product #product-dimensions, #img-text #text-product #product-code {
  font-family: "Times New Roman", Times, serif;
}
#img-text #text-product #product-dimensions {
  margin-bottom: 3px;
}
#img-text #text-product #product-code {
  margin-top: 0px;
}
#img-text #text-product #cart {
  display: flex;
  justify-content: space-between;
}
#img-text #text-product #cart #selector-product {
  padding-top: 13px;
}
#img-text #text-product #cart #selector-product label {
  padding-left: 0px;
  margin-top: 10px;
  font-weight: bold;
}
#img-text #text-product #cart #selector-product #quantity {
  padding: 5px 10px;
  border: 1.5px solid #000;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}
#img-text #text-product #cart #selector-product #quantity:focus {
  border-color: #808080;
}
#img-text #text-product #cart #product-price {
  font-size: 25px;
  font-weight: bold;
  margin: 0px;
}
#img-text #text-product #cart #product-price span {
  font-size: 40px;
}
#img-text #text-product #methods-payment {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
}
#img-text #text-product #methods-payment img {
  width: 85px;
}
#img-text #text-product #add-to-cart {
  padding: 8px 20px;
  background-color: #000000;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 60px;
}
#img-text #text-product #add-to-cart:hover {
  background-color: #808080;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 0px 40px;
}
.grid-container .product-section {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.grid-container .product-section h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 35px;
  margin-bottom: 0px;
}
.grid-container .product-section .product-cart {
  display: flex;
  justify-content: space-evenly;
  border: 0.8px solid black;
  border-radius: 5px;
  padding: 25px;
  background-color: #f0f0f0;
}
.grid-container .product-section .product-cart .product-img img {
  width: auto;
  height: 200px;
}
.grid-container .product-section .product-cart .product-info * {
  margin: 5px;
}
.grid-container .product-section .product-cart .product-info h3 {
  font-size: 30px;
  font-family: "Cormorant Garamond", serif;
  margin-bottom: 60px;
  margin-top: 0px;
}
.grid-container .product-section .product-cart .product-info p {
  font-size: 22px;
  margin-top: 10px;
}
.grid-container .product-section .product-cart .product-pricing {
  text-align: center;
  margin: 10px;
  margin-bottom: 13px;
}
.grid-container .product-section .product-cart .product-pricing .price-product-cart {
  font-size: 27px;
}
.grid-container .product-section .product-cart .product-pricing .quantity-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}
.grid-container .product-section .product-cart .product-pricing .quantity-selector img {
  width: 35px;
  margin-bottom: 3px;
  margin-right: 10px;
}
.grid-container .product-section .product-cart .product-pricing .quantity-selector select {
  padding: 5px 10px;
  border: 1.5px solid #000;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}
.grid-container .summary-section > h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 35px;
  margin-bottom: 40px;
}
.grid-container #payment {
  border: 0.8px solid black;
  border-radius: 5px;
  padding: 10px;
  padding: 25px;
  background-color: #f0f0f0;
}
.grid-container #payment .promo-code {
  display: flex;
  justify-content: space-between;
}
.grid-container #payment .promo-code label {
  padding-left: 0px;
  font-size: 24px;
}
.grid-container #payment .promo-code input {
  width: 40%;
  height: 30px;
  padding-left: 10px;
  margin-left: 0px;
  border: #000 solid 1px;
  border-radius: 5px;
  font-size: 16px;
}
.grid-container #payment .total-section p {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.grid-container #payment .total-section p .price-summary {
  font-size: 27px;
}
.grid-container #payment .buy-btn {
  padding: 8px 20px;
  background-color: #000000;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 60px;
  margin-bottom: 15px;
  cursor: none;
}
.grid-container #payment .buy-btn:hover {
  background-color: #808080;
}
.grid-container #payment .payment-methods {
  display: flex;
  justify-content: space-evenly;
  margin-top: 12, 5px;
}
.grid-container #payment .payment-methods img {
  width: 100px;
}

@media screen and (max-width: 1260px) {
  /* main-index */
  #top-selling {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  /* main-decoration-illuminacion-accesorios */
  .products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
  }
}
@media screen and (max-width: 1165px) {
  /*header*/
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header > * {
    margin: 8px 0px 8px 0px;
  }
  header .search-input {
    padding: 3px;
  }
  /*index*/
  .carousel-item {
    font-size: 60px !important;
  }
  /*product-page*/
  #img-text {
    flex-direction: column;
    align-items: center;
  }
  #img-text #product-img img {
    margin: 0px 0px 50px 0px;
  }
  #img-text #text-product {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
  }
  /*carrito*/
  .grid-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .grid-container .product-section, .grid-container .summary-section {
    flex: 1;
  }
}
@media screen and (max-width: 935px) {
  /*main-index*/
  #top-selling {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  .products-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
  }
}
@media screen and (max-width: 870px) {
  /* header */
  header #menus {
    display: grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    justify-items: center;
  }
  .icons-header {
    width: 100px;
    height: 0px;
  }
  /* main-index */
  .carousel-item {
    font-size: 30px !important;
  }
  h2 {
    font-size: 18px;
  }
  #top-selling {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  /* main-ambientes */
  .img-ambientes {
    padding: 10px;
  }
  /* main-decoracion-illuminacion-accesorios */
  .selectors {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
  }
  .selectors .selector {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    padding-bottom: 10px;
  }
  .selectors .selector label {
    padding-left: 0px;
    padding-bottom: 5px;
  }
  h1 {
    display: flex;
    justify-content: center;
  }
  /* carrito */
  .grid-container .product-cart {
    flex-direction: column;
    align-items: center;
  }
  .grid-container .product-cart .product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* product */
  #product-price {
    display: flex;
    flex-direction: column;
    margin-top: 10px !important;
  }
  #product-price span {
    font-size: 28px !important;
    padding: 0px !important;
  }
  #methods-payment {
    display: flex;
    justify-content: center !important;
  }
  /* footer */
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer h3 {
    text-align: center;
  }
  footer .anchors-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .anchors-footer .anchor-footer {
    padding-right: 30px;
  }
}
@media screen and (max-width: 640px) {
  /* main-decoration-illuminacion-accesorios */
  .products-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 500px) {
  /*header*/
  header #menus {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 0px;
  }
  .search-input {
    padding: 1px;
    width: 100px;
  }
}
@media screen and (max-width: 425px) {
  /* ambientes */
  .img-ambientes {
    padding: 20px 8px 0 8px !important;
  }
  #footer-ambientes {
    margin-top: 20px;
  }
  /*product-page*/
  .product-name {
    margin-bottom: 10px;
  }
  #product-img img {
    width: 280px !important;
    margin: 20px !important;
  }
  #selector-product {
    width: 80px;
  }
  #selector-product label {
    font-size: 20px;
  }
  #selector-product #quantity {
    margin-top: 8px;
  }
  #product-price {
    margin-top: 12px !important;
  }
  #methods-payment {
    justify-content: space-evenly;
  }
  /*carrito*/
  .grid-container {
    padding: 15px;
  }
  .grid-container .product-cart {
    padding: 0 15px !important;
  }
  .grid-container .product-cart .product-img img {
    margin: 20px;
  }
  .grid-container .product-cart .product-info p {
    font-size: 19px !important;
  }
  .grid-container .price-product-cart, .grid-container .price-summary {
    font-size: 24px !important;
  }
  .grid-container .payment-methods > img {
    width: 70px !important;
  }
}

/*# sourceMappingURL=styles.css.map */
