.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.product-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-section>h2 {
    font-family:$font-principal;
    margin-left: 40px;
    font-size: 35px;
    margin-bottom: 0px;
}

.product-row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    align-items: start;
    border: 0.8px solid black;
    border-radius: 5px;
    padding: 10px;
    padding: 25px;
    margin: 20px 20px 0px 40px;
    background-color: #f0f0f0;   

}

.product-img img {
    width: 200px;
    height: auto;
}

.product-info {
    margin-left: 20px;
}

.product-info>* {
    margin: 5px;
}

.product-info>h3 {
    font-size: 30px;
    font-family: $font-principal;
    margin-bottom: 60px;
    margin-top: 0px;
}


.product-info>p {
    font-size: 22px;
    margin-top: 10px;

}

.product-pricing {
    text-align: center;
    display: grid;
    grid-template-rows: 1fr auto;
    align-self: end;
    margin: 10px;
    margin-bottom: 13px;
}

.price {
    font-size: 27px;
    
}

.quantity-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.quantity-selector img {
    width: 35px;
    margin-bottom: 3px;
    margin-right: 10px;
}

.quantity-selector select {
    padding: 5px 10px;
    border: 1.5px solid #000;
    border-radius: 5px;
    font-size: 16px;
    outline: none;

}

.summary-section>h2 {
    font-family:$font-principal;
    font-size: 35px;
    margin-bottom: 40px;
}

.summary-section p {
    font-size: 20px;
}

#payment {
    border: 0.8px solid black;
    border-radius: 5px;
    padding: 10px;
    padding: 25px;
    margin: 20px 40px 0px 0px;
    background-color: #f0f0f0;  
}

.promo-code {
    display: flex;
    justify-content: space-between;
}

.promo-code>label {
    padding-left: 0px;
}

.promo-code>input {
    width: 40%;
    height: 30px;
    padding-left: 10px;
    margin-left: 0px;
    border: #000 solid 1px;
    border-radius: 5px;
    font-size: 16px;

}



.total-section p {
    display: flex;
    justify-content: space-between;
}

.buy-btn {
    padding: 8px 20px;
    background-color: #000000;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    width:100%;
    height: 60px;
    margin-bottom: 15px;
    cursor: none;
  
   
    &:hover {
        background-color: #808080;
    }
}

.payment-methods{
    display: flex;
    justify-content: space-evenly;
    margin-top: 12,5px;
}

.payment-methods img {
    width: 100px;
 

}

@media (max-width: 1020px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .product-row {
        margin-left: 0px;
        margin-right: 0px;
        width:90%
        
    }
    .product-section {
        display: flex;
       align-items: center;
    }

    .product-section>h2 {
        margin-left: 0px;
    }

    .product-info>h3 {
        text-align: center;
    }

    .product-info{
        margin-left: 0px;
        text-align: center;
        width: 90%;
    }


   #payment {
    margin-left: 43px;
    margin-right: 43px;
   }

    .summary-section>h2 {
        text-align: center;
    }  
}

@media (max-width: 590px) {

    .product-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    #payment {
        margin: 10px;
        
    }


.product-info > p,.total-section> p {
    font-size: 20px; /* ou toute autre taille appropriée pour les appareils mobiles */
}

.product-pricing{
    align-self: center;

}

.payment-methods {
    flex-direction: column;
    align-items: center;
}


}
