// Main decoration, illumination, accessories

.selectors {
  @include flex-center(row);
  margin-top: 20px;
}

  #categorias,
  #ordenar {
    display: inline-block;
    padding: 4px 20px;
    font-size: 15px;
    font-weight: 200;
    border-radius: 6px;
    cursor: pointer;
    background-color: $background-footer-header;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    color: #fff;
  }

  label {
    font-family:$font-principal;
    font-size: $font-size-h1;
    padding-left: 30px;
    padding-right: 15px;
    font-weight: bold;
  }
  
h1 {
  text-align: center;
  font-family:$font-principal;
  padding: 20px;
}

.products-grid {
  @include grid-setup(4, 3, $grid-gap);
  margin-left: 20px;
  margin-right: 20px;
}

  .product {
    @include flex-center(column); 
    padding: 20px;
   
  }
    .product img {
      width: 250px;
      height: 250px;
      margin-top: 15px; 
    }

    .name-product {
      font-family: $font-principal;
      font-size: $font-size-name-product;
      font-weight: 800;
      margin-bottom: 10px;
    }
    
    .price {
      font-family: 'Times New Roman', Times, serif;
      font-size: 25px;
      margin: 0px;
    }