@media screen and (max-width: 1260px) {
  /* main-index */
  #top-selling {
    @include grid-setup(3, 2, $grid-gap);
  }

  /* main-decoration-illuminacion-accesorios */
  .products-grid {
    @include grid-setup(3, 4, $grid-gap);
  }
}

@media screen and (max-width: 1165px) {
  /*header*/ 
  header {
    @include flex-center(column);

    &>* {
      margin: 8px 0px 8px 0px;
    } 
    
    .search-input {
      padding: 3px;
    }
  }

  /*index*/
  .carousel-item {
    font-size: 60px !important;
  }

  /*product-page*/
  #img-text {
    flex-direction: column;
    align-items: center;

    #product-img img {
      margin: 0px 0px 50px 0px;   
    }

    #text-product {
      display: flex;
      flex-direction: column;
      margin-left: 100px;
    }
  }  
}

@media (max-width: 1020px) {
  /*carrito*/
  .grid-container {
    grid-template-columns: 1fr;

    .product-section {
      display: flex;
      align-items: center;

      h2 {
        margin-left: 0px;
        }

      .product-cart {
        margin-left: 0px;
        margin-right: 0px;
        width:90%
      }

       .product-info {
        margin-left: 0px;
        text-align: center;
        width: 90%;

        h3 {
          text-align: center;
        }
      }
    } 
    
    .summary-section>h2 {
      text-align: center;
    } 
    
    #payment {
      margin-left: 43px;
      margin-right: 43px;
    }
  }
}

@media screen and (max-width: 935px) {
  /*main-index*/
  #top-selling {
    @include grid-setup(2, 2, $grid-gap);
}

.products-grid {
    @include grid-setup(2, 6, $grid-gap);
  }
}
 
@media screen and (max-width: 870px) {
  /* header */
  header #menus {
    display: grid;
    @include grid-setup(2, 2, 5px);
    justify-items: center;  
  }
  
  .icons-header {
    width: 100px;  
    height: 0px;
  }

  /* main-index */
  .carousel-item {
    font-size: 30px !important;
  }

  h2 {
    font-size: 18px
  }

  #top-selling {
    @include grid-setup(1, 4, 10px);
    margin-left: 10px;
    margin-right: 10px;
  }

  /* main-ambientes */
  .img-ambientes {
    padding: 10px;
  }

  /* main-decoracion-illuminacion-accesorios */
  .selectors {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;

    .selector {
      display: flex;
      flex-direction: column;
      align-items: flex-start !important;
    
      label {
        padding-left: 0px;
      }
    } 
  }

  h1 {
    display: flex;
    justify-content: center;
  }

  .products-grid {
    @include grid-setup(1, 1, 10px);
    margin-left: 10px;
    margin-right: 10px;
  }

  /* footer */
  footer {
    @include flex-center(column);

    h3 {
      text-align: center;
    }

    .anchors-footer {
      @include flex-center(column);
  
      .anchor-footer {
        padding-right: 30px;
      }
    }
  }  
}

@media screen and (max-width: 590px) {
  /*carrito*/
  .product-cart {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    .product-info > p {
      font-size: 20px !important;
    } 
    
    .product-pricing {
      align-self: center !important;
    }
  }

  #payment {
    margin: 15px !important; 
      
    .total-section> p {
      font-size: 20px !important; 
    }
    .payment-methods>img {
      width:80px !important;   
    }   
  }

  /*product*/
  #product-price {
    display: flex;
    flex-direction: column;

    span {
      font-size: 28px !important;
      padding: 0px !important;
    }
  }

  #methods-payment{
    display: flex;
    justify-content: center !important;
  }
}

@media screen and (max-width: 500px) {
  /*header*/
  header #menus {
    @include flex-center(column);
   padding-right: 0px;
  }

  .search-input {
    padding: 1px;
    width: 100px;
  }
}

@media screen and (max-width: 425px) {
  /*ambientes*/

  .img-ambientes {
    padding: 8px !important;
  }

  #footer-ambientes {
    margin-top: 20px;
  }

  .selectors {
    margin: 15px;
    .selector {
      padding-bottom:10px;

      label {
        padding-bottom: 5px;
      }
    } 
  }
 
  /*product-page*/
  .product-name {
    margin-bottom: 10px;
  }

  #product-img img {
    width: 250px;
    height: 250px;
    margin: 0px;
  }

  #text-product {
    margin: 0 30px 0 30px !important;
    font-size: 20px;
  
    #selector-product {
      width: 80px;
    
      label{
        font-size: 20px;
      }
      
      #quantity {
        margin-top: 8px;
      }      
    }
  
    #product-price {
      margin: 7px 0 0 3px !important;
      font-size: 22px !important;
    
      span {
        font-size: 27px !important;
      }
    }
    
    #methods-payment {
      justify-content: space-evenly;
    }
  }        
}

