@media only screen and (max-width: 1260px) {
  /* main-index */
  #top-selling {
    @include grid-setup(3, 2, $grid-gap);
  }

  /* main-decoration-illuminacion-accesorios */
  .products-grid {
    @include grid-setup(3, 4, $grid-gap);
  }
}

@media screen and (max-width: 1165px) {
  /*header*/
  

  header {
    @include flex-center(column);
  }

  .search-input {
    padding: 3px;
  }

  .carousel-item {
    font-size: 60px;
  }
}

@media screen and (max-width: 935px) {
  /*main-index*/
  #top-selling {
    @include grid-setup(2, 2, $grid-gap);
}

.products-grid {
    @include grid-setup(2, 6, $grid-gap);
  }
}

 
@media screen and (max-width: 820px) {
  /* header */
  .icons-header {
    width: 30px;  
    height: 30px;

  }

  .carousel-item {
    font-size: 30px;
  }

  #menus {
    @include grid-setup(2, 2, 5px);
    justify-items: center; 
    margin-right: 45px;
  }

  /* main-index */
  h2 {
    font-size: 18px
  }

  #top-selling {
    @include grid-setup(1, 4, 10px);
    margin-left: 10px;
    margin-right: 10px;
  }

  .top-products img {
    width: 200px;
    height: 200px;
  }

  /* main-ambientes */
  .img-ambientes {
    padding: 10px;
  }

  /* main-decoracion-illuminacion-accesorios */
  .selectors {
    @include flex-center(column);
  }

  .selector {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  h1 {
    display: flex;
    justify-content: center;
  }

  .products-grid {
    @include grid-setup(1, null, 10px);
    margin-left: 10px;
    margin-right: 10px;
  }

  .product img {
    width: 200px;
    height: 200px;
  }

  /* footer */
  footer {
    @include flex-center(column);
  }

  h3 {
    text-align: center;
  }

  .anchors-footer {
    @include flex-center(column);
  }

  .anchor-footer {
    padding-right: 30px;
  }
}

@media screen and (max-width: 500px) {
  /*header*/
  #menus {
    @include flex-center(column);
   padding-right: 0px;
  }

  .search-input {
    padding: 1px;
    width: 100px;
  }
}