@media screen and (max-width: 1260px) {
  /* main-index */
  #top-selling {
    @include grid-setup(3, 2, $grid-gap);
  }

  /* main-decoration-illuminacion-accesorios */
  .products-grid {
    @include grid-setup(3, 4, $grid-gap);
  }
}

@media screen and (max-width: 1165px) {
  /*header*/ 
  header {
    @include flex-center(column);

    &>* {
      margin: 8px 0px 8px 0px;
    } 
    
    .search-input {
      padding: 3px;
    }
  }

  /*index*/
  .carousel-item {
    font-size: 60px !important;
  }

  /*product-page*/
  #img-text {
    flex-direction: column;
    align-items: center;

    #product-img img {
      margin: 0px 0px 50px 0px;   
    }

    #text-product {
      display: flex;
      flex-direction: column;
      margin-left: 100px;
    }
  }  

  /*carrito*/
  .grid-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .product-section, .summary-section {
      flex: 1;
    }
  }
}

@media screen and (max-width: 935px) {
  /*main-index*/
  #top-selling {
    @include grid-setup(2, 2, $grid-gap);
}

.products-grid {
    @include grid-setup(2, 6, $grid-gap);
  }
}
 
@media screen and (max-width: 870px) {
  /* header */
  header #menus {
    display: grid;
    @include grid-setup(2, 2, 5px);
    justify-items: center;  
  }
  
  .icons-header {
    width: 100px;  
    height: 0px;
  }

  /* main-index */
  .carousel-item {
    font-size: 30px !important;
  }

  h2 {
    font-size: 18px
  }

  #top-selling {
    @include grid-setup(1, 4, 10px);
    margin-left: 10px;
    margin-right: 10px;
  }

  /* main-ambientes */
  .img-ambientes {
    padding: 10px;
  }

  /* main-decoracion-illuminacion-accesorios */
  .selectors {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;

    .selector {
      display: flex;
      flex-direction: column;
      align-items: flex-start !important;
      padding-bottom:10px;
    
      label {
        padding-left: 0px;
        padding-bottom: 5px;
      }
    } 
  }

  h1 {
    display: flex;
    justify-content: center;
  }

  /* carrito */
  .grid-container 
  .product-cart{ 
    flex-direction: column;
    align-items: center;

    .product-info {
      display: flex;
      flex-direction: column;
      align-items: center

    }
  }

  /* product */
  #product-price {
    display: flex;
    flex-direction: column;
    margin-top: 10px !important;

    span {
      font-size: 28px !important;
      padding: 0px !important;
    }
  }

  #methods-payment{
    display: flex;
    justify-content: center !important;
  }

  /* footer */
  footer {
    @include flex-center(column);

    h3 {
      text-align: center;
    }

    .anchors-footer {
      @include flex-center(column);
  
      .anchor-footer {
        padding-right: 30px;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  /* main-decoration-illuminacion-accesorios */
  .products-grid {
    @include grid-setup(1, 1, 10px);
    margin-left: 10px;
    margin-right: 10px;
  }
}
 
@media screen and (max-width: 500px) {
  /*header*/
  header #menus {
    @include flex-center(column);
   padding-right: 0px;
  }

  .search-input {
    padding: 1px;
    width: 100px;
  }
}

@media screen and (max-width: 425px) {
  /* ambientes */
  .img-ambientes {
    padding: 20px 8px 0 8px !important;
  }

  #footer-ambientes {
    margin-top: 20px;
  }

  /*product-page*/
  .product-name {
    margin-bottom: 10px;
  }

  #product-img img {
    width: 280px !important;
    margin: 20px !important;

  }
  
  #selector-product {
    width: 80px;
  
    label{
      font-size: 20px;
    }
    
    #quantity {
      margin-top: 8px;
    }      
  }

  #product-price {
    margin-top: 12px !important ;
  }
  
  #methods-payment {
    justify-content: space-evenly;
  }
         
  /*carrito*/
  .grid-container {
    padding: 15px;

    .product-cart{
      padding: 0 15px !important;

      .product-img img {
        margin: 20px;
      }

      .product-info p {
        font-size: 19px !important;
      } 
    }

    .price-product-cart,.price-summary {
      font-size: 24px !important;    
    }

    .payment-methods>img {
      width:70px !important;   
    } 
  }        
}

