// Mixins
@mixin flex-center($direction) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
  }
  
@mixin grid-setup($columns, $rows, $gap) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-template-rows: repeat($rows, 1fr);
    gap: $gap;
  }

  @mixin hover-transform($scale, $margin: null) {
    transition: transform $transition-duration;
    &:hover {
      transform: scale($scale);
      @if $margin != null {
        margin: $margin;
      }
    }
  }