// Mixins
@mixin flex-center($direction) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
  }
  
@mixin grid-setup($columns, $rows, $gap) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-template-rows: repeat($rows, 1fr);
    gap: $gap;
  }

/*
  @mixin hover-transform-1($scale) {
    transition: transform $transition-duration-1;
    &:hover {
      transform: scale($scale);
    }
  }

  @mixin hover-transform-2($scale) {
    transition: transform $transition-duration-2;
    &:hover {
      transform: scale($scale);
    }
  }
  */

 
  @mixin hover-transform($scale) {
    transition: transform $transition-duration;
    &:hover {
      transform: scale($scale);

    }
  }

  @mixin hover-transform-2($scale) {
    transition: transform $transition-duration-2;
    &:hover {
      transform: scale($scale);

    }
  }