#img-text {
   display: flex;
}

#product-name {
    background-color: #F0F0F0;
    margin-top: 0px;
    margin-bottom: 60px;
    padding: 10px;
}

#product-img img {
    width: 50vw;
    max-width: 500px;
    height: auto;
    margin-top: 0px;
    margin-left: 60px;
    margin-right: 120px;  
}

#text-product {
    margin-right: 100px;
    font-family:$font-principal;
    font-size: 22px;  
}
  
#cart {
    display: flex;
    justify-content: space-between;
}

#product-description {
    margin-top: 0px;
}

#product-price {
    font-size: 25px ;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px; 
    margin-right: 25px;
    margin-left: 0px;
}

#product-price span {
    font-size: 40px;
}

#add-to-cart {
    padding: 8px 20px;
    background-color: #000000;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    width:100%;
    height: 60px;
   
    &:hover {
        background-color: #808080;
    }
}

#selector-product {
    padding-top: 13px;
}

#quantity {
    padding: 5px 10px;
    border: 1.5px solid #000;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

#quantity:focus {
    border-color: #808080;
}



#cart label {
    padding-left: 0px;
    margin-top: 10px;
    font-weight: bold;
}

#product-dimensions,#product-code {
    font-family: 'Times New Roman', Times, serif;   
}


#methods-payment {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    margin-top: 10px;
    margin-bottom: 10px;      
}

#methods-payment>img {
    width: 85px;
}

