/*tipografía*/
$black: #F5F5F5;
$font-nav-header: 'Cormorant Garamond', serif;
$font-name-price-product: 'Courier New', Courier, monospace;
$font-H1-label: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$font-H2: Arial, Helvetica, sans-serif;
$font-size-menu: 24px;
$font-size-h1: x-large;
$font-size-name-product: 25px;
$font-size-price: 20px;

/*background*/
$background-footer-header: #312e38 ;

/*grilla*/
$grid-gap: 20px;

/*animaciones*/
$transition-duration: 0.3s;
$hover-scale: 1.2;
$hover-bg-color: rgba(240, 240, 240, 0.5);
$hover-margin: 20px;